.card-wrapper .card-dashboard {
    width: 100%;
    height: 102px;
    border-radius: 10px;
}

.card-wrapper .card-body {
    display: flex;
    justify-content: space-between;
    background: #fff;
    width: 100%;
    height: 100%;
}
